<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>itemSave</servlet-name>
        <servlet-class>view.itemSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>itemQuery</servlet-name>
        <servlet-class>view.itemQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productSave</servlet-name>
        <servlet-class>view.productSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productQuery</servlet-name>
        <servlet-class>view.productQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>activityQuery</servlet-name>
        <servlet-class>view.activityQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>meteroElementQuery</servlet-name>
        <servlet-class>view.meteroElementQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>meteroGradeQuery</servlet-name>
        <servlet-class>view.meteroGradeQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>siteQuery</servlet-name>
        <servlet-class>view.siteQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>siteListQuery</servlet-name>
        <servlet-class>view.siteListQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>siteAttrQuery</servlet-name>
        <servlet-class>view.siteAttrQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderQuery</servlet-name>
        <servlet-class>view.orderQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderSave</servlet-name>
        <servlet-class>view.orderSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>riskInputSave</servlet-name>
        <servlet-class>view.riskInputSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>systemSyncQuery</servlet-name>
        <servlet-class>view.systemSyncQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>systemQuery</servlet-name>
        <servlet-class>view.systemQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>systemReSync</servlet-name>
        <servlet-class>view.systemReSync</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>systemPayQuery</servlet-name>
        <servlet-class>view.systemPayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>systemPaySave</servlet-name>
        <servlet-class>view.systemPaySave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>systemSyncTimeSave</servlet-name>
        <servlet-class>view.systemSyncTimeSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>predictJudgeQuery</servlet-name>
        <servlet-class>view.predictJudgeQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>taskListSave</servlet-name>
        <servlet-class>view.taskListSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemQuery2</servlet-name>
        <servlet-class>view.SystemQuery2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mapQuery</servlet-name>
        <servlet-class>view.mapQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>systemProMakeQuery</servlet-name>
        <servlet-class>view.systemProMakeQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminQuery</servlet-name>
        <servlet-class>view.adminQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminSave</servlet-name>
        <servlet-class>view.adminSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>meteroQuery</servlet-name>
        <servlet-class>view.meteroQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>meteroMainEleSave</servlet-name>
        <servlet-class>view.meteroMainEleSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>meteroMainEleQuery</servlet-name>
        <servlet-class>view.meteroMainEleQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>meteroSave</servlet-name>
        <servlet-class>view.meteroSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>personQuery</servlet-name>
        <servlet-class>view.personQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>personSave</servlet-name>
        <servlet-class>view.personSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCoordinate</servlet-name>
        <servlet-class>view.getCoordinate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMapSite</servlet-name>
        <servlet-class>view.getMapSite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>observeSiteQuery</servlet-name>
        <servlet-class>view.observeSiteQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>observeSiteSave</servlet-name>
        <servlet-class>view.observeSiteSave</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>itemSave</servlet-name>
        <url-pattern>/itemSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>itemQuery</servlet-name>
        <url-pattern>/itemQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productSave</servlet-name>
        <url-pattern>/productSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productQuery</servlet-name>
        <url-pattern>/productQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>activityQuery</servlet-name>
        <url-pattern>/activityQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>meteroElementQuery</servlet-name>
        <url-pattern>/meteroElementQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>meteroGradeQuery</servlet-name>
        <url-pattern>/meteroGradeQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>siteQuery</servlet-name>
        <url-pattern>/siteQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>siteListQuery</servlet-name>
        <url-pattern>/siteListQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>siteAttrQuery</servlet-name>
        <url-pattern>/siteAttrQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderQuery</servlet-name>
        <url-pattern>/orderQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderSave</servlet-name>
        <url-pattern>/orderSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>riskInputSave</servlet-name>
        <url-pattern>/riskInputSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>systemSyncQuery</servlet-name>
        <url-pattern>/systemSyncQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>systemQuery</servlet-name>
        <url-pattern>/systemQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>systemReSync</servlet-name>
        <url-pattern>/systemReSync</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>systemPayQuery</servlet-name>
        <url-pattern>/systemPayQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>systemPaySave</servlet-name>
        <url-pattern>/systemPaySave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>systemSyncTimeSave</servlet-name>
        <url-pattern>/systemSyncTimeSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>predictJudgeQuery</servlet-name>
        <url-pattern>/predictJudgeQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>taskListSave</servlet-name>
        <url-pattern>/taskListSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemQuery2</servlet-name>
        <url-pattern>/SystemQuery2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mapQuery</servlet-name>
        <url-pattern>/mapQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>systemProMakeQuery</servlet-name>
        <url-pattern>/systemProMakeQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminQuery</servlet-name>
        <url-pattern>/adminQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminSave</servlet-name>
        <url-pattern>/adminSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>meteroQuery</servlet-name>
        <url-pattern>/meteroQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>meteroMainEleSave</servlet-name>
        <url-pattern>/meteroMainEleSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>meteroMainEleQuery</servlet-name>
        <url-pattern>/meteroMainEleQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>meteroSave</servlet-name>
        <url-pattern>/meteroSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>personQuery</servlet-name>
        <url-pattern>/personQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>personSave</servlet-name>
        <url-pattern>/personSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCoordinate</servlet-name>
        <url-pattern>/getCoordinate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMapSite</servlet-name>
        <url-pattern>/getMapSite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>observeSiteQuery</servlet-name>
        <url-pattern>/observeSiteQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>observeSiteSave</servlet-name>
        <url-pattern>/observeSiteSave</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
